html, body, div, header {
  margin: 0;
  padding: 0;
  border: 0;
  
}

header.header {
  position: absolute;
  background-color: #4A90E2;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.logo {
  width: 120px;
  height: 24px;
}
header span {
  padding: 42px;
  font-size: 15px;
  line-height: 18px;
}